* {
    margin: 0;
    padding: 0;
    
}
*::before,
*::after { box-sizing: border-box; }
html,
body {
    font-size: 10px;
    font-family: 'Abril Fatface', cursive;
    
    display: flex;
    justify-content: center;
    
}

.container {
    width: 400px;
    height: 400px;
    margin-top: 50px;
    box-shadow: 0 0 30px 20px rgba(254, 63, 63, 0.612);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    
    
}
.container .title { 
    font-size:20px;
    color: #188730; 
}
.weight,
.height {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.7rem;
}
.input-box {
    text-align: center;
    border: solid;
    
    border-radius: 15px;
    height: auto;
    margin-top: 10px;
}
.result {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}
.bmi {
    margin-top: 3px;
    font-size: 30px; 
    color: rgb(154, 48, 48);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: rgb(193, 246, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1rem solid #000000;
    transition: border-color 0.3s ease-in-out;
}
.desc,.change,.change2 {
    font-size:20px;
    margin-top: 4px;
    color: yellow;
}
.change{
    color: red;
    font-size: 30px;
}
.change2{
    display: none;
}
.welcome{
    font-weight: 200px;
    font-size: 20px;
    color: #188730;
    font-family:'Abril Fatface', cursive ;
    margin-top: 5px;
}
.bmi-category { font-weight: bold; }